.cms-login-form {
  width: 250px;
  margin: 150px auto 0;
  padding: 50px 50px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: content-box;

  .cms-login-input {
    width: 200px;
  }
}
